#add .element_label
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#add .error_strings
{
    font-family:Verdana;
    font-size:10px;
    color:#660000;
    border-style:solid;
    border-width:0px;
    border-color:#000000;
}
#add .sfm_float_error_box
{
    position:absolute;
    z-index:999;
    cursor:default;
    font-family:Verdana;
    font-size:10px;
    color:#000000;
    background-color:#40e0d0;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
}
#add .sfm_float_box_td
{
    padding:3px;
    cursor:default;
    font-family:Verdana;
    font-size:10px;
    color:#000000;
    background-color:#40e0d0;
}
#add .sfm_close_box
{
    font-family:Verdana;
    font-size:10px;
    font-weight:bold;
    color:#ffffff;
    background-color:#7fffd4;
    border-width:0px;
    text-align:center;
}
#add .sfm_textbox
{
    padding:2px;
}
#add .sfm_textarea
{
    padding:2px;
}
#add .sfm_form_label
{
    font-family:Courier;
    font-size:14px;
    color:#000000;
}
#add .sfm_image_in_form
{
    border:0;
}
#add .sfm_captcha
{
    border:0;
}
#add .sfm_datepicker_icon
{
    border:0;
}

#add #heading_container
{
    position:absolute;
    left:264px;
    top:24px;
    width:214px;
    height:20px;
    z-index:5;
    background-color:#40e0d0;
}
#add #heading
{
    position:absolute;
    left:0px;
    top:-5px;
    width:213px;
    height:24px;
    text-align:left;
    font-family:BBAlpha Serif;
    font-size:20px;
    font-weight:bold;
    color:#000000;
    background-color:#40e0d0;
}
#add #FirstName_container
{
    position:absolute;
    left:169px;
    top:88px;
    z-index:2;
}
#add #FirstName
{
    float:left;
    width:132px;
    height:16px;
    z-index:2;
}
#add #LastName_container
{
    position:absolute;
    left:423px;
    top:89px;
    z-index:4;
}
#add #LastName
{
    float:left;
    width:134px;
    height:16px;
    z-index:4;
}
#add #label1_container
{
    position:absolute;
    left:318px;
    top:91px;
    width:84px;
    height:20px;
    z-index:3;
}
#add #label1
{
    position:absolute;
    left:-2px;
    top:0px;
    width:86px;
    height:19px;
    text-align:right;
}
#add #label_container
{
    position:absolute;
    left:63px;
    top:92px;
    width:95px;
    height:20px;
    z-index:1;
}
#add #label
{
    position:absolute;
    left:1px;
    top:0px;
    width:94px;
    height:19px;
    text-align:right;
}
#add #Email_container
{
    position:absolute;
    left:169px;
    top:132px;
    z-index:7;
}
#add #Email
{
    float:left;
    width:134px;
    height:16px;
    z-index:7;
}
#add #Home_Street_container
{
    position:absolute;
    left:423px;
    top:133px;
    z-index:9;
}
#add #Home_Street
{
    float:left;
    width:134px;
    height:16px;
    z-index:9;
}
#add #label2_container
{
    position:absolute;
    left:92px;
    top:136px;
    width:60px;
    height:20px;
    z-index:6;
}
#add #label2
{
    position:absolute;
    left:6px;
    top:0px;
    width:54px;
    height:19px;
    text-align:right;
}
#add #label3_container
{
    position:absolute;
    left:325px;
    top:136px;
    width:74px;
    height:20px;
    z-index:8;
}
#add #label3
{
    position:absolute;
    left:4px;
    top:0px;
    width:70px;
    height:19px;
    text-align:right;
}
#add #State_container
{
    position:absolute;
    left:422px;
    top:174px;
    z-index:13;
}
#add #State
{
    float:left;
    width:140px;
    height:22px;
    z-index:13;
}
#add #label5_container
{
    position:absolute;
    left:339px;
    top:178px;
    width:60px;
    height:20px;
    z-index:12;
}
#add #label5
{
    position:absolute;
    left:6px;
    top:0px;
    width:54px;
    height:19px;
    text-align:right;
}
#add #Home_City_container
{
    position:absolute;
    left:170px;
    top:178px;
    z-index:11;
}
#add #Home_City
{
    float:left;
    width:134px;
    height:16px;
    z-index:11;
}
#add #label4_container
{
    position:absolute;
    left:89px;
    top:183px;
    width:60px;
    height:20px;
    z-index:10;
}
#add #label4
{
    position:absolute;
    left:14px;
    top:0px;
    width:46px;
    height:19px;
    text-align:right;
}
#add #Country_container
{
    position:absolute;
    left:423px;
    top:217px;
    z-index:17;
}
#add #Country
{
    float:left;
    width:140px;
    height:22px;
    z-index:17;
}
#add #label7_container
{
    position:absolute;
    left:333px;
    top:220px;
    width:66px;
    height:20px;
    z-index:16;
}
#add #label7
{
    position:absolute;
    left:-4px;
    top:0px;
    width:70px;
    height:19px;
    text-align:right;
}
#add #Zip_container
{
    position:absolute;
    left:170px;
    top:221px;
    z-index:15;
}
#add #Zip
{
    float:left;
    width:134px;
    height:16px;
    z-index:15;
}
#add #label6_container
{
    position:absolute;
    left:113px;
    top:226px;
    width:36px;
    height:20px;
    z-index:14;
}
#add #label6
{
    position:absolute;
    left:-2px;
    top:0px;
    width:38px;
    height:19px;
    text-align:right;
}
#add #Home_Phone_container
{
    position:absolute;
    left:172px;
    top:264px;
    z-index:19;
}
#add #Home_Phone
{
    float:left;
    width:134px;
    height:16px;
    z-index:19;
}
#add #Home_Fax_container
{
    position:absolute;
    left:424px;
    top:264px;
    z-index:21;
}
#add #Home_Fax
{
    float:left;
    width:134px;
    height:16px;
    z-index:21;
}
#add #label9_container
{
    position:absolute;
    left:339px;
    top:267px;
    width:60px;
    height:20px;
    z-index:20;
}
#add #label9
{
    position:absolute;
    left:22px;
    top:0px;
    width:38px;
    height:19px;
    text-align:right;
}
#add #label8_container
{
    position:absolute;
    left:99px;
    top:267px;
    width:52px;
    height:21px;
    z-index:18;
}
#add #label8
{
    position:absolute;
    left:-2px;
    top:1px;
    width:54px;
    height:19px;
    text-align:right;
}
#add #Cell_Phone_container
{
    position:absolute;
    left:289px;
    top:322px;
    z-index:23;
}
#add #Cell_Phone
{
    float:left;
    width:134px;
    height:16px;
    z-index:23;
}
#add #label10_container
{
    position:absolute;
    left:181px;
    top:325px;
    width:91px;
    height:20px;
    z-index:22;
}
#add #label10
{
    position:absolute;
    left:-3px;
    top:0px;
    width:94px;
    height:19px;
    text-align:right;
}
#add #heading1_container
{
    position:absolute;
    left:272px;
    top:392px;
    width:209px;
    height:20px;
    z-index:25;
    background-color:#40e0d0;
}
#add #heading1
{
    position:absolute;
    left:0px;
    top:-5px;
    width:209px;
    height:24px;
    text-align:left;
    font-family:BBAlpha Serif;
    font-size:20px;
    font-weight:bold;
    color:#000000;
    background-color:#40e0d0;
}
#add #Work_Street_container
{
    position:absolute;
    left:170px;
    top:444px;
    z-index:27;
}
#add #Work_Street
{
    float:left;
    width:134px;
    height:16px;
    z-index:27;
}
#add #Work_City_container
{
    position:absolute;
    left:423px;
    top:444px;
    z-index:29;
}
#add #Work_City
{
    float:left;
    width:134px;
    height:16px;
    z-index:29;
}
#add #label12_container
{
    position:absolute;
    left:344px;
    top:447px;
    width:59px;
    height:20px;
    z-index:28;
}
#add #label12
{
    position:absolute;
    left:13px;
    top:0px;
    width:46px;
    height:19px;
    text-align:right;
}
#add #label11_container
{
    position:absolute;
    left:48px;
    top:448px;
    width:104px;
    height:20px;
    z-index:26;
}
#add #label11
{
    position:absolute;
    left:34px;
    top:0px;
    width:70px;
    height:19px;
    text-align:right;
}
#add #Work_State_container
{
    position:absolute;
    left:170px;
    top:484px;
    z-index:35;
}
#add #Work_State
{
    float:left;
    width:140px;
    height:22px;
    z-index:35;
}
#add #label16_container
{
    position:absolute;
    left:87px;
    top:489px;
    width:60px;
    height:20px;
    z-index:34;
}
#add #label16
{
    position:absolute;
    left:6px;
    top:0px;
    width:54px;
    height:19px;
    text-align:right;
}
#add #Work_Zip_container
{
    position:absolute;
    left:423px;
    top:487px;
    z-index:31;
}
#add #Work_Zip
{
    float:left;
    width:134px;
    height:16px;
    z-index:31;
}
#add #label14_container
{
    position:absolute;
    left:341px;
    top:490px;
    width:60px;
    height:20px;
    z-index:30;
}
#add #label14
{
    position:absolute;
    left:22px;
    top:0px;
    width:38px;
    height:19px;
    text-align:right;
}
#add #Work_Country_container
{
    position:absolute;
    left:170px;
    top:529px;
    z-index:33;
}
#add #Work_Country
{
    float:left;
    width:140px;
    height:22px;
    z-index:33;
}
#add #Company_container
{
    position:absolute;
    left:423px;
    top:529px;
    z-index:37;
}
#add #Company
{
    float:left;
    width:134px;
    height:16px;
    z-index:37;
}
#add #label15_container
{
    position:absolute;
    left:70px;
    top:533px;
    width:76px;
    height:20px;
    z-index:32;
}
#add #label15
{
    position:absolute;
    left:6px;
    top:0px;
    width:70px;
    height:19px;
    text-align:right;
}
#add #label17_container
{
    position:absolute;
    left:299px;
    top:534px;
    width:108px;
    height:20px;
    z-index:36;
}
#add #label17
{
    position:absolute;
    left:38px;
    top:0px;
    width:70px;
    height:19px;
    text-align:right;
}
#add #Job_Title_container
{
    position:absolute;
    left:170px;
    top:571px;
    z-index:39;
}
#add #Job_Title
{
    float:left;
    width:134px;
    height:16px;
    z-index:39;
}
#add #Work_Phone_container
{
    position:absolute;
    left:423px;
    top:571px;
    z-index:41;
}
#add #Work_Phone
{
    float:left;
    width:134px;
    height:16px;
    z-index:41;
}
#add #label19_container
{
    position:absolute;
    left:348px;
    top:575px;
    width:52px;
    height:20px;
    z-index:40;
}
#add #label19
{
    position:absolute;
    left:-2px;
    top:0px;
    width:54px;
    height:19px;
    text-align:right;
}
#add #label18_container
{
    position:absolute;
    left:64px;
    top:576px;
    width:80px;
    height:20px;
    z-index:38;
}
#add #label18
{
    position:absolute;
    left:-6px;
    top:0px;
    width:86px;
    height:19px;
    text-align:right;
}
#add #Work_Fax_container
{
    position:absolute;
    left:170px;
    top:616px;
    z-index:43;
}
#add #Work_Fax
{
    float:left;
    width:134px;
    height:16px;
    z-index:43;
}
#add #Website_container
{
    position:absolute;
    left:421px;
    top:616px;
    z-index:45;
}
#add #Website
{
    float:left;
    width:134px;
    height:16px;
    z-index:45;
}
#add #label20_container
{
    position:absolute;
    left:104px;
    top:620px;
    width:39px;
    height:20px;
    z-index:42;
}
#add #label20
{
    position:absolute;
    left:1px;
    top:0px;
    width:38px;
    height:19px;
    text-align:right;
}
#add #label21_container
{
    position:absolute;
    left:337px;
    top:621px;
    width:69px;
    height:20px;
    z-index:44;
}
#add #label21
{
    position:absolute;
    left:-1px;
    top:0px;
    width:70px;
    height:19px;
    text-align:right;
}
#add #Submit_container
{
    position:absolute;
    left:262px;
    top:685px;
    width:80px;
    height:25px;
    z-index:46;
}
#add #add_Submit_img
{
    width:84px;
    height:29px;
    border:none;
}
#add #Reset_container
{
    position:absolute;
    left:369px;
    top:685px;
    width:80px;
    height:25px;
    z-index:47;
}
#add #add_Reset_img
{
    width:84px;
    height:29px;
    border:none;
}
